@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A67A60 20%, #D9B596, #D9D9D9);
}

main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #012840cb;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9B596;
    text-align: center;
    text-shadow: 1px 1px 2px #a67a60ea;
}

h2 {
    color: #4F6573;
}

p {
    text-align: justify;
    color: #012840;
}