.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
/* span é a expansão de linha e ou colunas */
.caixa1 {
    background-color: orange;
    grid-row: 1 / 2;
    grid-column: 1 / span 4;
}

.caixa2 {
    background-color: lime;
    grid-row: 2 / -1;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: lightcoral;
    grid-row: 2 / -1;
    grid-column: 3 / -1;
}