.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
/* span é a expansão de linha e ou colunas */
.caixa1 {
    background-color: orange;
    grid-area: 1 / 1 / 2 / span 4;
}

.caixa2 {
    background-color: lime;
    grid-area: 2 / 1 / span 2 / span 2;
}

.caixa3 {
    background-color: lightcoral;
    grid-area: 2 / 3 / 2 span / span 2;
}